<!-- <ul id="list-item">
    <li>First List item</li>
    <li>Second list item</li>
    <li>Third list item</li>
</ul> -->


<a href="https://www.google.com" id="google-link">Go to Goole website</a>
<a href="https://www.google.com" id="google-new-link">Go to Goole website</a>
<ul id="main-content">
  <li class="list-item">item1</li>
  <li class="list-item">item2</li>
  <ol>
    <li class="list-item">Nested item</li>
    <li class="list-item">Nested item2</li>
    <li class="list-item">Nested item3</li>
  </ol>
  <li>item3</li>
</ul>

<h2>Here i am working on css tutorial</h2>

<p class="para-text">>A car is a wheeled, self-powered motor vehicle used for transportation.</p>


<p class="para-text">You cannot be sure how HTML will be displayed.

  Large or small screens, and resized windows will create different results.

  With HTML, you cannot change the display by adding extra spaces or extra lines in your HTML code.

  The browser will automatically remove any extra spaces and lines when the page is displayed:</p>

<h1 id="title">This is My H1 element</h1>
<h2 id="about-me">This is My h2 element</h2>
<div class="main-container">
  <div class="container-item">A</div>
  <div class="container-item">B</div>
  <div class="container-item">C</div>
  <div class="container-item">D</div>
  <div class="container-item">E</div>
</div>
<div class="main-container2">
  <div class="container-item1" style="flex:1 3 .25em;align-self:flex-start;">A</div>
  <div class="container-item1" style="flex:1 3 .25em;align-self:flex-center;">B</div>
  <div class="container-item1" style="flex:1 3 .25em;align-self:flex-end;">C</div>
  <div class="container-item1" style="flex:1 3 .25em;align-self:flex-center;">D</div>
  <div class="container-item1" style="flex:1 3 .25em;align-self:flex-start;">E</div>
</div>

<div class="grid-container">
  <div class="grid-item" style="background: rgb(255,150,150);">1</div>
  <div class="grid-item" style="background: rgb(170,255,140);">2</div>
  <div class="grid-item" style="background: rgb(222,132,255);">3</div>
  <div class="grid-item" style="background: rgb(255,207,119);">4</div>
  <div class="grid-item" style="background: rgb(190, 26, 26);">5</div>
</div>
<div id="content">
  This is content in the box model
</div>



<form action="">
  <div><input type="text" placeholder="Full name" class="form-input"/></div>
  <div><input type="email" placeholder="Email" class="form-input"/></div>
  <button class="submit-button">Submit</button>
</form>
<!-- <img id="image-source" src="../../../assets/img/download.jpg" alt="">
<img id="image-source" src="../../../assets/img/pic.jpg" alt="" style="width:22%; height:27%;margin-left: 1rem;"> -->
<ul id="list-item">
  <li>A
    <ul>
      <li>subsection</li>
      <li>subsection2</li>

    </ul>
  </li>
  <li>B
    <ul>
      <li>subsection</li>
      <li>subsection2</li>
    </ul>
  </li>
  <li>C
    <ul>
      <li>subsection</li>
      <li>subsection2</li>
    </ul>
  </li>
</ul>