.username{
    min-width: 300px;
}
.action-link{
    padding: 10px;
}
.center-div{

}
.inner-div{
    background: #7d96af;
    width: 10%;
    padding: 3%;
    text-align: center;
    margin:0 auto;
    font-size: 1.2rem;
    font-weight: bold;
    color: yellow;
    font-family: monospace;
    text-transform: capitalize;
}
#main-body{
    background: rgb(186,212,255);
}